html, body, #root, .wrapper {
  background-color: #242424;  
  max-width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 1201px) {
  #app {
    margin: auto auto;
  }
  html, body, #root, .wrapper {
    width: 100%;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: #ffffff !important;
}

h2 {
  color: #ffffff !important;
}

h3 {
  color: #ffffff !important;
}

.carousel-caption {
  color: #ffffff !important;
}